.gradle
.gradle/
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
build/
captures/
i
*.apk
*.ap_
*.dex

*.class

bin/
gen/

Thumbs.db

.classpath
.project

*.iml
.idea
.idea/

proguard/
